{% extends 'usuarios/base.html' %}


{% block body %}
    <div class="flex justify-between">
        <a href="{% url 'password_change' %}" class="bg-yellow-500 text-zinc-800 px-4 py-2 rounded font-semibold"> Cambiar contraseña </a>

        {% if user.groups.all.0.id == 2 %}
        <a href="{% url 'cuotas' %}" class="bg-green-500 p-2 font-semibold cursor-pointer rounded">
            Cuotas
        </a>
        {% endif %}
    </div>
        
    <div class=" justify-items-center pt-3">
        <h1 class="text-3xl font-semibold text-blue-950 mb-2">Pefil Personal</h1>
        {% if user.foto_perfil %}
            <img src="{{user.foto_perfil.url}}" alt="imagen {{user.foto_perfil}}" width="200px" class="rounded-full border-3 border-blue">
        {% else %}
            <img src="/media/users_fp/nouphoto.png" alt="" width="200px" class="rounded-full border-3 border-blue">
        {% endif %}
        <div class="pt-2">
            <label>@{{user.username}}</label>
        </div>
        <div class=" border-black p-2 capitalize h-40 w-70 justify-items-center">    
            <p class="font-semibold ">Nombre</p>
            <p>{{user.first_name}}</p>
            <p class="font-semibold">Apellido</p>
            <p>{{user.last_name}}</p>
            <p class="font-semibold">Gmail</p>
            <p>{{user.email}}</p>
            <p class="font-semibold">DNI</p>
            <p>{{user.dni}}</p>
            <p class="font-semibold">Rol</p>
            <p>{{ user.groups.all.0}}</p>
    </div>

{% endblock %}