{% extends 'usuarios/base.html' %}
{% load widget_tweaks %} 

{% block body %}

<div class="flex justify-center items-center min-h-[70vh]">
    <div class="w-full max-w-lg bg-white shadow-lg rounded-2xl p-8 border border-gray-200">

        <div class="text-center mb-8">
            <h1 class="text-3xl font-bold text-gray-800">
                Cambiar contraseña
            </h1>
            <p class="text-gray-500 mt-2">
                Actualiza tu contraseña para mantener tu cuenta segura.
            </p>
        </div>

        <form method="post" class="space-y-5">
            {% csrf_token %}

            <div class="flex flex-col">
                {% for fiel in form %}
                    {% if fiel.label == 'Old password' %}
                        <label>Contraseña Actual</label>
                    {% elif fiel.label == 'New password' %}
                        <label>Contraseña Nueva</label>
                    {%else%}    
                        <label>Confirmar Contraseña</label>
                    {%endif%}
                    {{ fiel | add_class:"border-1 p-2 rounded" }}
                {% endfor %}
            </div>

            <button
                type="submit"
                class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-3 rounded-xl transition duration-200 cursor-pointer shadow-sm"
            >
                Guardar nueva contraseña
            </button>
        </form>

    </div>
</div>

{% endblock %}