{% extends 'usuarios/base.html' %}

{% block body %}

<div class="max-w-3xl mx-auto mt-10">

    <h1 class="text-3xl font-bold mb-6">
        Mis Cuotas
    </h1>
    {% if cuotas %}
    {% for cuota in cuotas %}
            <div class="border rounded p-4 mb-4 shadow">
                <p><strong>Plan:</strong> {{ cuota.plan.nombre }}</p>
                <p><strong>Monto:</strong> ${{ cuota.monto }}</p>
                <p><strong>Inicio:</strong> {{ cuota.fecha_inicio }}</p>
                <p><strong>Vencimiento:</strong> {{ cuota.fecha_vencimiento }}</p>
                <p>
                    <strong>Estado:</strong>
                    {% if cuota.estado == 'pagada' %}
                        <span style="color:green;">Pagada ✔</span>
                    {% else %}
                        <span style="color:orange;">Pendiente ⏳</span>
                    {% endif %}
                </p>
                <div class="pt-2">

                    {% if not cuota.ultimo_pago %}
                        <a href="{% url 'subir_comprobante' cuota.id %}"
                        class="px-3 py-2 bg-green-600 text-white rounded">
                            Pagar cuota
                        </a>

                    {% elif cuota.ultimo_pago.estado == 'rechazado' %}
                        <a href="{% url 'subir_comprobante' cuota.id %}"
                        class="px-3 py-2 bg-green-600 text-white rounded">
                            Reintentar pago
                        </a>

                    {% elif cuota.ultimo_pago.estado == 'pendiente_revision' %}
                        <button disabled
                                class="px-3 py-2 bg-yellow-500 text-white rounded cursor-not-allowed">
                            Pago en revisión
                        </button>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No tenés cuotas registradas.</p>
    {% endif %}

</div>

{% endblock %}