{% extends 'usuarios/base.html' %}
{% load widget_tweaks %}

{% block body %}

<div class="max-w-3xl mx-auto mt-10">

    <h1 class="text-3xl font-bold mb-6 text-center">
        PLANES
    </h1>
    {% if planes %}
    {% for plan in planes %}
            <div class="border rounded p-4 mb-4 shadow">
                <p><strong>Nombre:</strong> {{ plan.nombre }}</p>
                <p><strong>Dias por semana:</strong> {{ plan.dias_por_semana }}</p>
                <p><strong>Precio:</strong> ${{ plan.precio }}</p>
                <a  href="{% url 'editar_plan' plan.id %}"class="text-zinc-900/90 bg-blue-500 hover:bg-blue-400 p-2 rounded  font-semibold cursor-pointer">Editar</a>
            </div>
        {% endfor %}
        
    {% else %}
        <p>No tenés planes cargados</p>
    {% endif %}
    
    <div class="flex flex-col items-center">
        <p class="text-3xl font-bold mb-6 text-center">Nuevo plan</p>
        <form method="POST" class="space-y-4" >
        {% csrf_token %}

        {% for field in form %}
            <div>
                <label class="block mb-2 font-semibold text-amber-900">
                    {{ field.label }}
                </label>    
                <div>
                    {{ field | add_class:"border-1 p-2 rounded" }}
                </div>       
            </div>
        {% endfor %}
        <button
        type="submit" 
        style="cursor: pointer;" 
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
            Enviar
        </button>
    </form>
    </div>

</div>

{% endblock %}