{% extends 'usuarios/base.html' %}
{% load widget_tweaks %}

{% block body %}

<div class="max-w-3xl mx-auto mt-10">

    <h1 class="text-3xl font-bold mb-6 text-center">
        PLANES
    </h1>
    {% if planes %}
    {% for plan in planes %}
            <div class="border rounded p-4 mb-4 shadow">
                <p><strong>Nombre:</strong> {{ plan.nombre }}</p>
                <p><strong>Dias por semana:</strong> {{ plan.dias_por_semana }}</p>
                <p><strong>Precio:</strong> ${{ plan.precio }}</p>
                <a  href="{% url 'editar_plan' plan.id %}"class="text-zinc-900/90 bg-blue-500 hover:bg-blue-400 p-2 rounded  font-semibold cursor-pointer">Editar</a>
            </div>
        {% endfor %}
        
    {% else %}
        <p>No tenés planes cargados</p>
    {% endif %}
    
    <div class="max-w-lg mx-auto mt-10">

    <div class="bg-white rounded-2xl shadow-lg overflow-hidden">

        <!-- Encabezado -->
        <div class="bg-blue-700 px-6 py-5">
            <h1 class="text-3xl font-bold text-white">
                Nuevo Plan
            </h1>
            <p class="text-blue-100 mt-1 text-sm">
                Complete la información para registrar un nuevo plan.
            </p>
        </div>

        <!-- Formulario -->
        <div class="p-6">

            <form method="POST" class="space-y-5">
                {% csrf_token %}

                {% for field in form %}
                    <div>

                        <label class="block mb-2 font-semibold text-gray-700">
                            {{ field.label }}
                        </label>

                        {{ field|add_class:"w-full rounded-lg border border-gray-400 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200" }}

                        {% for error in field.errors %}
                            <p class="text-red-500 text-sm mt-2">
                                {{ error }}
                            </p>
                        {% endfor %}

                    </div>
                {% endfor %}

                <button
                    type="submit"
                    class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 rounded-lg shadow-md transition duration-300 cursor-pointer">
                    Guardar Plan
                </button>

            </form>

        </div>

    </div>

</div>

</div>

{% endblock %}