{% extends 'usuarios/base.html' %}

{% block title %}
    Eliminar Usuario
{% endblock %}

{% block body %}

<div class="max-w-2xl mx-auto mt-16">

    <div class="bg-white border border-red-200 rounded-2xl shadow-sm p-8 flex flex-col items-center">

        <h1 class="text-3xl font-bold text-red-600 text-center mb-2">
            Eliminar {{rol}}
        </h1>

        <p class="text-center text-gray-500 mb-8">
            Esta acción eliminara el usuario definitivamente.
        </p>

        <div class=" p-6 space-y-4 mb-8">

            <div>
                <p class="text-sm text-gray-500">
                    Nombre Completo
                </p>
                <p class="font-semibold">
                    {{ usuario.first_name }} {{ usuario.last_name }}
                </p>
                <p class="text-sm text-gray-500">
                    DNI
                </p>
                <p class="font-semibold">
                    {{ usuario.dni }}
                </p>
                <p class="text-sm text-gray-500">
                    Email
                </p>
                <p class="font-semibold">
                    {{ usuario.email }}
                </p>
            </div>


        </div>

        <p class="text-center text-gray-700 mb-8">
            ¿Deseás continuar con la eliminación?
        </p>

        <form method="POST" class="items-center">
            {% csrf_token %}

            <div class="flex gap-3">

                <button
                    type="submit"
                    class="flex-1 bg-red-600 hover:bg-red-700 text-white p-3 rounded-lg font-medium transition cursor-pointer"
                >
                    Confirmar Eliminación
                </button>

                <a
                    href="{% url 'get_usuarios' %}"
                    class="flex-1 text-center  text-white bg-green-500 p-3 rounded-lg hover:bg-green-700 transition"
                >
                    Cancelar
                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}